%article
  %header
    = resource_breadcrumbs
    %h1= page_title

  %table.b-espresso-collection(cellpadding="0" cellspacing="0")
    %thead= render_with_fallback('list_header')
    %tfoot= render_with_fallback('list_footer')
    %tbody
      - begin
        = render collection
      - rescue ActionView::MissingTemplate
        = render :partial => 'espresso/item', :collection => collection, :as => :object
